* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.logo-image {
    margin-top: 12px;
    height: 60px; 
    width: auto;  
}

.navbar {
    background: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;

}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;

}

.navbar-links {
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
}


.navbar-links:hover {
    color: #172d7c;
    font-weight: 500;
    transition: all 0.3s ease;
}

@media screen and (max-width: 950px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0; 
        transition: all 0.5s ease;
        height: auto; 
        z-index: -1;
        background: white;
    }

    .navbar-menu.active {
        background: white;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: auto;
        font-size: 25px;
    }

    #navbar-logo {
        padding-left: 25px;
    }

    .menu-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translation(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }


    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* auto typed text */

span {
    color: #172d7c;
}

/* home section */

.home {
    background: #f8f7f7; 
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.home-content h1 {
    font-size: 60px;
    font-weight: 650;
    color: black;
}

.home-content p {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}

.home-button {
    font-size: 16px;
    background-color: #172d7c;
    padding: 15px 20px;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 12px;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

.home-button a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.home-image {
    text-align: center;
}

#image-one {
    height: 80%;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .home-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }

    .home-content {
        text-align: center;
        margin-bottom: 2rem;
    }

    .home-content h1 {
        font-size: 3.5rem;
        margin-top: 4rem;
    }

    .home-content p {
        margin-top: 1rem;
        font-size: 1.8rem

    }
}

@media screen and (max-width: 480px) {
    .home-content h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }

    .home-content p {
        margin-top: 2rem;
        font-size: 1.8rem;
    }
}

/* resources section */

.resources {
    background: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.resources h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    color: black;

}

.resources-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.resource-card {
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
    /* background-image: url('/images/picture4.png');
    background-size: cover; */
    border: none;
    box-shadow: 0.7rem 0.7rem #172d7c, -0.6rem -0.6rem #d3f0db;
}

.opportunities-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opportunities-image img {
    padding-top: 100px;
    width: 50%;
    height: 50%;
}

.review-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-image img {
    padding-top: 100px;
    width: 45%;
    height: 45%;
}

.resource-card:nth-child(2) {
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
    /* background-image: url('/images/picture3.png');
    background-size: cover; */
    border: none;
    box-shadow: 0.7rem 0.7rem #172d7c, -0.6rem -0.6rem #d3f0db;
}


.resource-card p {
    position: absolute;
    top: 260px;
    margin: 0 20px;
    text-align: center;
    font-weight: 500;
} 

.resource-card h2 {
    color: #172d7c;
    font-size: 2rem;
    position: absolute;
    top: 40px;
    align-items: center;
    left: 90px;
}

.resource-card:nth-child(2) h2 {
    font-size: 2rem;
    color: #172d7c;
    position: absolute;
    top: 40px;
    align-items: center;
    left: 110px;
}

.resource-card button {
    position: absolute;
    color: white;
    padding: 10px 22px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #172d7c;
    top: 340px;
    margin: 0 145px;
    font-size: 16px;
    cursor: pointer;
}

.resource-card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .resources {
        height: 1400px;
    }
    .resources h1 {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 8rem;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .resources {
        height: 1400px;
    }
    .resources h1 {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 8rem;
        text-align: center;
    }
}

/* footer section */

.footer-container {
    background-color: #172d7c;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 250px;
    
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items h2 {
    margin-bottom: 15px;
    color: white;
}

.footer-link-items a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 820px) {
    .footer-links {
        padding-top: 2rem;
    }

    .footer-link-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer-link-items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

/* footer


footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #172d7c;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #172d7c;


}

.footer-content h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.footer-content h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 400;
}


.footer-socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-socials li {
    margin: 0 10px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.footer-socials a {
    text-decoration: none;
    color: white;

}

.footer-socials a i {
    font-size: 20px;
}

@media screen and (max-width: 960px) {
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1000; /* Ensure the footer is above other content */
    /* }

    
} */ 
